body{
    background-image: url("tlo.jpg");
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    letter-spacing: 3px;
    color: white;
}
form{
    margin: auto;
    width: 300px;
    height:300px;
    text-align: center;
    border: 2px solid white;
    padding: 2%;
}
#ilosc{
    width: 170px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
#przycisk{
    width: 100px;
    height: 50px;
    margin-top: 100px;
    
}
p{
    text-align: center;
}