body{
    background-color: black;
    color:whitesmoke;
}
label.label input[type="file"]{
    position: absolute;
    top: -1000px;
}
.label{
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
}
button{
      font-size: 17px;
      padding: 10px 35px;
      cursor: pointer
}