body
{
    background-color: silver;
}
form
{
    background-color: royalblue;
    height: 200px;
    width: 400px;
    margin-left: 40%;
    margin-top: 20%;
}select
{
    margin-top: 20px;
    margin-left: 150px;
}
#first_name,#last_name
{
   margin-top: 20px;
}
#date
{
    margin-top: 20px;
    margin-left: 120px;
}
button
{
    margin-top: 20px;
    margin-left: 170px;
}
