input{
    width: 20%;
    height: 40px;
    background-color: lightcyan;

}
.sub{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-size: 125%;
    font-weight: bold;
}
.sub:hover{
    background-color: grey;
    color: white;
}   
